<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static' , filename = 'open-iconic/png/airplane.png')}}">
</head>

<body>

<header>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/home">
                <img src=" {{ url_for('static' , filename = 'open-iconic/png/airplane.png') }}" width="30" height="30"
                     class="d-inline-block align-top" alt=""> Airport App
            </a>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row" style="min-height: 100vh;">
                <div class="col-12 bg-light text-center">
                    <h1 class="cover-heading container-fluid" style="margin-top: 250px"> Welcome to
                        the Oakland Airport!</h1>

                    <a href="/home">
                        <button type="button" class=" btn btn-outline-primary " style="margin-top: 25px;
                                margin-bottom: 30px; height: 50px;">Enter
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<footer>
    <div class="container-fluid">
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <a href="/support">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Support</button>
            </a>
        </nav>
    </div>
</footer>


<!--    Python code can be inserted with these brackets         -->
<!--    For logic code, use single brackets and % symbols       -->
<!--    For variables, use double brackets like the title above -->
{% block body %}{% endblock %}
</body>

</html>
