<!DOCTYPE html>
<head>
    <style>
        td { border:1px solid #333; padding:4px 8px;}
        th { test-align:left; background-color: #3a6070; padding: 4px 30px 4px 8px; color:#FFF;}
    </style>
    <meta charset="UTF-8">
    <p> something </p>
    <div>
        <input type="text" placeholder="Search.."/>
    </div>
    <div style="padding:10px">

        <table>
            <tr id="demo">
                <th> First col</th>
                <th> Second col</th>
                {% for item in columns %}
                <li>{{ item }}</li>
                {% endfor %}
            </tr>
        </table>
    </div>

</head>
<body>

<!--    Python code can be inserted with these brackets         -->
<!--    For logic code, use single brackets and % symbols       -->
<!--    For variables, use double brackets like the title above -->
    {% block body %}{% endblock %}

</body>
